.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: .8s;
  opacity: 1;
  visibility: visible;

  &.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%)
  }
}

.img {
  margin-bottom: 10px
}

.text {
  @include text_normal;
  width: 350px;
  text-align: center;
  white-space: break-spaces;
}
