.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap_normal;
  opacity: 1;
  visibility: visible;
  transition: .2s;
  transition-delay: .55s;

  &.hide {
    transition: .1s;
    transition-delay: 0s;
    opacity: 0;
    visibility: hidden;
  }
}