.title {
  cursor: pointer;
  text-transform: uppercase;
  @include text_large;

  &:hover {
    transition-delay: 0s;
     @include text_large_bold;
  }

  &.active {
     @include text_large_bold;
  }
}